<table class="table">
    <tr>
        <th>Id</th>
        <th>Score One</th>
        <th>Score Two</th>
        <th>Team One</th>
        <th>Team Two</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let match of matches">
        <td>{{match._id}}</td>
        <td>{{match.scoreOne}}</td>
        <td>{{match.scoreTwo}}</td>
        <td>{{match.teamOne}}</td>
        <td>{{match.teamTwo}}</td>
        <td>
            <button class="btn btn-info" (click)="displayMatch(match._id)">Display</button>
            <button class="btn btn-warning" (click)="goToEdit(match._id)">Edit</button>
            <button class="btn btn-danger" (click)="deleteMatch(match._id)">Delete</button>
        </td>
    </tr>
</table>